POSTGRES_DB=transitdues
POSTGRES_USER=transitdues_user
POSTGRES_PASSWORD=change_me
MONGO_USERNAME=transitdues_mongo
MONGO_PASSWORD=change_me
REDIS_PASSWORD=change_me
RABBITMQ_USERNAME=transitdues_rabbit
RABBITMQ_PASSWORD=change_me
OAUTH_ADMIN_EMAILS=admin@example.com
OAUTH_FINANCE_EMAILS=finance@example.com

SEED_ADMIN_EMAIL=admin@example.com
SEED_ADMIN_PASSWORD=change_me
SEED_FINANCE_EMAIL=finance@example.com
SEED_FINANCE_PASSWORD=change_me